{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Services</title>
        <link rel="shortcut icon" type="image/png" href="gedtech.png"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/services.css' %}">
    </head>

<body>
{% include 'pages/navbar.html' %}

<section class="services">
    <h1>This page is coming soon.</h1>
</section>

{% include 'pages/footer.html' %}
</body>
</html>